<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="bootstrap.css">

</head>
<body>
<h1>Encoding Text</h1>
<label style="position:relative; bottom: 20px">Enter text</label>
<textarea row="10" cols="150" id="plain-text"></textarea>
<br>
<div class="row">
<div class="col-md-5"></div>
<div class="col-md-5"><button type="submit" id="encode">Encode</button></div>
</div>
<br>

<table class="table table-hover table-dark table-striped">
  <thead>
    <tr>
      <th scope="col">Key</th>
      <th scope="col">Value</th>
    </tr>
  </thead>
  <tbody id="table-body">
    <tr>
      <th scope="row">1</th>
      <td>👍👍👍👍👍</td>
    </tr>
  </tbody>
</table>
<br><br>
<table class="table table-hover table-dark table-striped">
  <thead>
    <tr>
      <th scope="col">Key</th>
      <th scope="col">Value</th>
    </tr>
  </thead>
  <tbody id="table-body1">
    <tr>
      <th scope="row">1</th>
      <td>👍👍👍👍👍</td>
    </tr>
  </tbody>
</table>

<script src="jquery-3.7.0.min.js"></script>
<script src="bootstrap.js"></script>
<script src="information_theory1.js"></script>
</body>
</html>