<!DOCTYPE html>
<html>
<head>
<!-- <link rel="stylesheet" href="bootstrap.css"> -->
<link rel="stylesheet" href="test.css">
</head>
<body>
<a href="/encoding" alt="Mythrill" target="_blank">
  <div class="card">
    <div class="wrapper">
      <img src="image/huffman_background.jpg" class="cover-image" />
    </div>
	<img src="image/huffman_title.png" class="title" />
	<img src="image/david_huffman.png" class="character" />
  </div>
</a>

<a href="/entropy" alt="Mythrill" target="_blank">
  <div class="card">
    <div class="wrapper">
      <img src="image/claude_shannon_background.jpg" class="cover-image" />
    </div>
    <img src="image/claude_shannon_title.png" class="title" />
    <img src="image/claude_shannon.png" class="character" />
  </div>
</a>

<h1 style="position: absolute; bottom: 100px; z-index: 1;">Created By NTH</h1>

<!-- <script src="jquery-3.7.0.min.js"></script> -->
<!-- <script src="bootstrap.js"></script> -->
</body>
</html>